<h3>Detalles de la liga</h3>
<div class="container-fluid">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Direccion</th>
          <th scope="col">Telefono</th>
          <th scope="col">Enlace</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <dd>{{ligaDetail.nombre}}</dd>
          </td>
          <td>
            <dd>{{ligaDetail.ciudad}}</dd>
          </td>
          <td>
            <dd>{{ligaDetail.direccion}}</dd>
          </td>
          <td>
            <dd>{{ligaDetail.telefono}}</dd>
          </td>
          <td>
            <dd>{{ligaDetail.enlaceRedesSociales}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
