
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" width="10px"><b>#</b></th>
            <th scope="col">Liga</th>
            <th scope="col">Torneo</th>
            <th scope="col">Apertura Realizada</th>
            <th scope="col">Resultado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of getPartidasList()" (click)="onSelected(a)">
            <td>
              <dd>{{a.id}}</dd>
            </td>
            <td>
              <dd>{{a.torneo.liga.nombre}}</dd>
            </td>
            <td>
              <dd>{{a.torneo.nombre}}</dd>
            </td>
            <td>
              <dd>{{a.aperturaRealizada.nombre}}</dd>
            </td>
            <td>
              <dd>{{a.resultado}}</dd>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <div *ngIf="selected">
        <app-partida-detail [partidaDetail]="selectedPartida"></app-partida-detail>
      </div>
    </div>
  </div>
</div>
