<h2>Listado comentario Partida</h2>
<div *ngIf="selected">
  <app-comentario-partida-detail [comentarioPartidaDetail]="selectedComentarioPartida"></app-comentario-partida-detail>
 </div>

<div class="container">
  <div class="row">
      <div class="col">
          <table class="table">
              <caption></caption>
              <thead>
                 <tr>
                    <th scope="col" width="10px"><b>#</b></th>
                    <th scope="col">Autor</th>
                    <th scope="col">val Numerica</th>
                    <th scope="col">val Cualitativa</th>
                    <th scope="col">fecha Publicacion</th>
                 </tr>
              </thead>
              <tbody>

              <tr *ngFor="let comment of getComentarioPartidaData()" (click)="onSelected(comment)">
                <td>
                  <dd>{{comment.id}}</dd>
                </td>
                  <td>
                    <dd>{{comment.autor}}</dd>
                  </td>
                  <td>
                    <dd>{{comment.valoracionCuantitativa}}</dd>
                  </td>
                  <td>
                    <dd>{{comment.valoracionCualitativa}}</dd>
                  </td>
                  <td>
                    <dd>{{comment.fechaPublicacion}}</dd>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>

  </div>
</div>
