<div class="container-fluid">
  <h2 id="NombreApertura" >{{ aperturaDetail.nombre }}</h2>
  <div class="row">
    <div class="col-3">
      <div class="thumb">
        <img class="img-fluid" src="{{ aperturaDetail.imagen }}" alt="{{ aperturaDetail.nombre }}" />
      </div>
    </div>
    <div id="Detalle" class="col">
      <dl>
        <dt>Clasificacion</dt>
        <dd>{{ aperturaDetail.clasificacion }}</dd>
        <hr />
        <dt>Movimientos</dt>
        <dd>{{ aperturaDetail.movimientos }}</dd>
        <hr />
      </dl>
    </div>
  </div>
</div>
