<h3>Detalles de la apertura</h3>
<div class="container-fluid">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width="10px"><b>#</b></th>
          <th scope="col">Nombre</th>
          <th scope="col">Clasificacion</th>
          <th scope="col">Movimientos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <dd>{{aperturaDetail.id}}</dd>
          </td>
          <td>
            <dd>{{aperturaDetail.nombre}}</dd>
          </td>
          <td>
            <dd>{{aperturaDetail.clasificacion}}</dd>
          </td>
          <td>
            <dd>{{aperturaDetail.movimientos}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


