<div class="container-fluid">
  <div class="row centrado">
    <p class="h2 p-3">Partida: {{ partidaDetail.id }}</p>
  </div>

  <div class="row centrado d-flex justify-content-center">
    <div class="col-sm-12 col-lg-4">
      <div class="thumb">
        <img
          class="card-img-top"
          src="https://docs.kde.org/trunk5/es/knights/knights/Knights-board-setup.png"
          alt="{{ partidaDetail.id }}"
        />
      </div>
    </div>


    <div class="col-sm-12 col-lg-7 card-group">
      <div *ngFor="let jugador of partidaDetail.jugadores">
        <app-jugador-detail [jugadorDetail]="jugador"></app-jugador-detail>
      </div>
    </div>
  </div>

  <div class="row">
    <p class="h2 p-3">Comentarios</p>
  </div>
  <div class="row centrado">
    <div class="col">
      <div *ngFor="let comentario of partidaDetail.comentarios">
        <app-comentario-partida-detail [comentarioPartidaDetail]="comentario"></app-comentario-partida-detail>
      </div>
    </div>
  </div>
</div>

