

<div class="container-fluid">
  <p class="h2 p-3">{{ partidaDetail.id }}</p>
  <div class="row">
    <div class="col-3">
      <div class="thumb">
        <img
            class="card-img-top"
            src="https://docs.kde.org/trunk5/es/knights/knights/Knights-board-setup.png"
            alt="{{ partidaDetail.id }}"
          />
      </div>
    </div>
    <div class="col">

    </div>
  </div>
</div>


<div *ngFor="let jugador of partidaDetail.jugadores" class="col mb-2">
  <div class="card p-2" style="width: 15rem; height: 22rem" routerLink ="/jugadores/{{jugador.id}}">
    <img
      class="card-img-top"
      src="{{jugador.fotografia}}"
      alt="{{ jugador.id }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ jugador.nombre }}</h5>
      <p class="card-text">{{ jugador.id }}</p>
    </div>
  </div>
</div>


