<h1>Detalle de la Partidas</h1>
<div class="container">
  <div class="row">
      <div class="col">
          <table class="table">
              <caption></caption>
              <thead>
                 <tr>
                    <th scope="col" width="10px"><b>#</b></th>
                    <th scope="col">Torneo</th>
                    <th scope="col">Apertura Realizada</th>
                    <th scope="col">Resultado</th>
                 </tr>
              </thead>
              <tbody>
                  <td>
                    <dd>{{partidaDetail.id}}</dd>
                  </td>
                  <td>
                    <dd>{{partidaDetail.torneo.nombre}}</dd>
                  </td>
                  <td>
                    <dd>{{partidaDetail.aperturaRealizada.nombre}}</dd>
                  </td>
                  <td>
                    <dd>{{partidaDetail.resultado}}</dd>
                  </td>
              </tbody>
          </table>
      </div>
  </div>
</div>
