<h1>Listado Ligas</h1>
<div class="container">
  <div class="row">
      <div class="col">
          <table class="table">
              <caption></caption>
              <thead>
                 <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Enlace</th>
                 </tr>
              </thead>
              <tbody>

                <tr *ngFor="let l of getLigasList()">
                  <td>
                    <dd>{{l.nombre}}</dd>
                  </td>
                  <td>
                    <dd>{{l.ciudad}}</dd>
                  </td>
                  <td>
                    <dd>{{l.direccion}}</dd>
                  </td>
                  <td>
                    <dd>{{l.telefono}}</dd>
                  </td>
                  <td>
                    <dd>{{l.enlaceRedesSociales}}</dd>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>

  </div>
</div>
