
<div *ngIf="selected">
  <app-jugador-detail [jugadorDetail]="selectedJugador"></app-jugador-detail>
</div>

<hr />

<div id="Contenedor"class="container-fluid">
  <div class="row">
    <div *ngFor="let jugador of jugadores" class="col mb-2">
      <div id="JugadorCard"class="card p-2" style="width: 15rem; height: 22rem">
        <img
          class="card-img-top"
          src="{{ jugador.fotografia }}"
          alt="{{ jugador.nombre }}"
          (click)="onSelected(jugador)"
        />
        <div class="card-body">
          <h5 class="card-title">{{ jugador.nombre }} </h5>
          <p class="card-text">ELO: {{ jugador.puntajeElo }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

